@{
    Layout = null;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

@using IMDB.ViewModels
@model ShowBroadcastCategoryVM

<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        background-image: url("https://i.pinimg.com/564x/8f/c6/b7/8fc6b7eca6e1d9bba6500efc0cfd8bda.jpg");
        background-position: center;
        background-size: cover;
    }

    #main {
        margin-left: 10%;
        margin-top: 5%;
    }



    #photo {
        width: 100%;
        height: 50%;
        border: none;
        background-position: center;
        background-size: cover;
    }

    #description {
        background-color: whitesmoke;
        opacity: 0.7;
        width: 100%;
        height: 55%;
        font-family: Calibri;
        text-align: center;
        padding-top: 20px;
    }

    label {
        font-size: 10px;
    }

    .Font {
        font-size: 13px;
        opacity: 1;
        font-weight: bold;
    }



    img {
        width: 100%;
        height: 100%;
    }

    .info {
        float: left;
        width: 28%;
        height: 50%;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 18px;
    }

    .btn2 {
        position: relative;
        top: 5%;
        margin-left: 1%;
        background-color: whitesmoke;
        width: 110px;
        height: 30px;
        color: dimgray;
        border-radius: 10px;
        border: none;
        opacity: 0.9;
        cursor: pointer;
        margin-bottom: 10%;
        color: darkred;
    }

    #review {
        position: relative;
        margin-left: 2%;
        margin-top: 4%;
        width: 110px;
        height: 30px;
        color: dimgray;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
    }

    fieldset input {
        margin-top: 1%;
        margin-left: 2%;
        padding-left: 10px;
        width: 210px;
        height: 30px;
        color: dimgray;
        border-radius: 10px;
        border-bottom: 1px solid red;
    }

    a {
        margin-left: 2%;
    }

    #ajaxCall {
        border-style: none;
        margin-top: 115%;
    }

    #ShowMore {
        position: absolute;
        margin-top: 106%;
        left: 45%;
        width: 110px;
        height: 100px;
        color: orangered;
        cursor: pointer;
        font-size: 17px;
        font-weight: bold;
    }
    .fa-star {
        color: red;
        cursor: pointer;
        margin-top: 5%;
    }
</style>

<div id="main">
    @foreach (var x in Model.FinalResult)
    {

        <span>
            <div class="info">
                <div id="photo"><img src="~/Images/@x.CoverImagePath" /> </div>
                <div id="description">
                    <label class="Font">Title: @x.BroadcastName</label><br />
                    <label class="Font">Description: @x.Description</label><br />
                    <label class="Font">Release date: @x.ReleaseDate</label><br />
                    <label class="Font">Average: @Math.Round(x.AverageReview, 2)</label><br />

                    <label class="Font">CASTS:</label>
                    @foreach (var s in x.Casts)
                    {
                        <label class="Font">@s.FirstName @s.LastName</label><br />

                    }


                    <form asp-action="SaveChanges" asp-controller="BroadcastCategory">

                        <input class="fa fa-star checked" type="radio" onclick="window.location = '/BroadcastCategory/SaveChanges?Review=1&BroadcastCategoryID=@x.BroadcastCategoryID&AverageReview=@x.AverageReview'" />
                        <input class="fa fa-star checked" type="radio" onclick="window.location = '/BroadcastCategory/SaveChanges?Review=2&BroadcastCategoryID=@x.BroadcastCategoryID&AverageReview=@x.AverageReview'" />
                        <input class="fa fa-star checked" type="radio" onclick="window.location = '/BroadcastCategory/SaveChanges?Review=3&BroadcastCategoryID=@x.BroadcastCategoryID&AverageReview=@x.AverageReview'" />
                        <input class="fa fa-star checked" type="radio" onclick="window.location = '/BroadcastCategory/SaveChanges?Review=4&BroadcastCategoryID=@x.BroadcastCategoryID&AverageReview=@x.AverageReview'" />
                        <input class="fa fa-star checked" type="radio" onclick="window.location = '/BroadcastCategory/SaveChanges?Review=5&BroadcastCategoryID=@x.BroadcastCategoryID&AverageReview=@x.AverageReview'" />

                    </form>
                </div>
            </div>
        </span>
    }

</div>